# allow thermal-engine socket_device:sock_file create_sock_perms;

allow thermal-engine proc_driver_battery:file r_file_perms;
allow thermal-engine proc_aphd:file r_file_perms;
allow thermal-engine proc_apid:file r_file_perms;

set_prop(thermal-engine, thermald_prop)
